*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.row{
	margin: 0;
}

.hide{
    display: none;
}

table.table>thead>tr>th{
    vertical-align : middle;
    text-align: center;
}

table.table>tbody>tr>td{
    vertical-align : middle;
    text-align: left;
}

.beaconsContainer .form-group{
	display: none;
}