{% extends "base.jinja" %}

{% block title %} Exception Occured {% endblock %}

{% block content %}
    <legend><h1>
        500 We are facing trouble. See you soon.
    </h1></legend>
    <br>
{% endblock %}

