<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Beacons</title>
    {% endblock %}
</head>
<body align=center>
    <div class="row">
        <div class="col-md-3">
            <h1>Welcome To <strong>KIAB</strong></h1>
        </div>
        <div class="col-md-7">&nbsp;</div>
        <div class="col-md-2"><br>
            <button type="button" class="btn btn-primary" onclick="location.href='/'">Home</button>
        </div>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
