{% extends "base.jinja" %}
n type="button" class="btn btn-primary" onclick="location.href='namespace'">NameSpace</button>

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3"><br><br>&nbsp;</div>
    <div class="col-md-5"><br>
        <button type="button" class="btn btn-primary" onclick="location.href='register'">Register Beacon</button>
        <br><br>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <legend>
            <h1>
                <strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Beacon Manager
                </strong>
            </h1>
        </legend>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered" align="center">
          <thead>
              <tr class="active">
                  <th class="info">Sno.</th>
                  <th class="info">Name</th>
                  <th class="info" class="info">Status</th>
                  <th class="info" class="info">Description</th>
                  <th class="info" class="info">Position</th>
                  <th class="info" class="info">Indoor Level</th>
                  <th class="info" colspan="2"class="info">Attachments</th>
                  <th class="info" colspan="3" class="info">More</th>
              </tr>
            </thead>
            <tbody>
              {% for beacon in beacons.beacons %}
                  <tr class="active">
                      <td class="active">{{ loop.index }}</td>
                      <td class="active">{{ beacon.beaconName }}</td>
                      <td class="active">{{ beacon.status }}</td>
                      <td class="active">{{ beacon.description }}</td>
                      {% if beacon.properties %}
                          <td class="active">{{ beacon.properties.position}}</td>
                      {% else %}
                          <td class="active"></td>
                      {% endif %}
                      {% if beacon.indoorLevel %}
                          <td class="active">{{ beacon.indoorLevel.name }}</td>
                      {% else %}
                          <td class="active"></td>
                      {% endif %}

                      <form class="form-horizontal" action="{{ url_for('portal.list_beacons_attachment') }}" method="post">
                        <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <td class="active">
                                    <input type="submit" class="btn btn-success" value="View">
                                </td>
                            </div>
                        </div>
                      </form>

                      <form class="form-horizontal" action="{{ url_for('portal.attachment_beacons') }}" method="post">
                        <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <td class="active">
                                    <input type="submit" class="btn btn-success" value="Add">
                                </td>
                            </div>
                        </div>
                      </form>


                      {% if beacon.status  == 'ACTIVE' %}
                          <form class="form-horizontal" id="estimote" action="{{ url_for('portal.deactivate_beacons_status') }}" method="post">
                              <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                              <div class="form-group">
                                    <div class="col-xs-offset-4 col-xs-8">
                                        <td class="active">
                                            <input type="submit" class="btn btn-success" value="Deactivate">
                                        </td>
                                    </div>
                                </div>
                          </form>
                      {% else %}
                          <form class="form-horizontal" id="estimote" action="{{ url_for('portal.activate_beacons_status') }}" method="post">
                              <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                              <div class="form-group">
                                    <div class="col-xs-offset-4 col-xs-8">
                                        <td class="active">
                                            <input type="submit" class="btn btn-success" value="&nbsp;&nbsp;Activate&nbsp;&nbsp;">
                                        </td>
                                    </div>
                                </div>
                          </form>
                      {% endif %}

                      <form class="form-horizontal" id="estimote" action="{{ url_for('portal.estimote_cloud_details') }}" method="post">
                          <input type="hidden" class="form-control" name="advid" value={{ beacon.advertisedId.id }}>
                          <div class="form-group">
                                <div class="col-xs-offset-4 col-xs-8">
                                    <td class="active">
                                        <input type="submit" class="btn btn-success" value="Details">
                                    </td>
                                </div>
                            </div>
                      </form>

                      <form class="form-horizontal" action="{{ url_for('portal.edit_beacon') }}" method="post">
                            <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                            <input type="hidden" class="form-control" name="advid" value={{ beacon.advertisedId.id }}>
                            <div class="form-group">
                                <div class="col-xs-offset-4 col-xs-8">
                                    <td class="active">
                                        <input type="submit" class="btn btn-success" value="Edit">
                                    </td>
                                </div>
                            </div>
                      </form>
                  </tr>
              {% endfor %}
              <br>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}