{% extends "base.jinja" %}

{% block title %}
    Register
{% endblock %}

{% block content %}

<legend>
  <h3>Beacons</h3>
</legend>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <button type="button" class="btn btn-success pull-right" onclick="location.href='register'">
          <span class="glyphicon glyphicon-plus"></span> &nbsp;Add Beacon
      </button>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 beaconsContainer">
        <table class="table table-bordered" align="center">
          <thead>
              <tr class="active">
                  <th class="info">Sno.</th>
                  <th class="info" class="info">Status</th>
                  <th class="info" class="info">Description</th>
                  <th class="info" class="info">Position</th>
                  <th class="info" class="info">Indoor Level</th>
                  <th class="info" colspan="2"class="info">Attachments</th>
                  <th class="info" colspan="1" class="info">Actions</th>
                  <th class="info" colspan="1" class="info">Manufacturer</th>
              </tr>
            </thead>
            <tbody>
              {% for beacon in beacons.beacons %}
                  <tr class="active">
                      <td class="active">{{ loop.index }}</td>

                      {% if beacon.status  == 'ACTIVE' %}
                          <form class="form-horizontal" id="estimote" action="{{ url_for('portal.deactivate_beacons_status') }}" method="post">
                              <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                              <div class="form-group">
                                    <div class="col-xs-offset-4 col-xs-8">
                                        <td class="active">
                                            <input type="submit" data-toggle="tooltip" title="Click to deactivate" class="btn btn-success" value="&nbsp;&nbsp;Active&nbsp;&nbsp;">
                                        </td>
                                    </div>
                                </div>
                          </form>
                      {% else %}
                          <form class="form-horizontal" id="estimote" action="{{ url_for('portal.activate_beacons_status') }}" method="post">
                              <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                              <div class="form-group">
                                    <div class="col-xs-offset-4 col-xs-8">
                                        <td class="active">
                                            <input type="submit" data-toggle="tooltip" title="Click to Activate" class="btn btn-danger" value="InActive">
                                        </td>
                                    </div>
                                </div>
                          </form>
                      {% endif %}

                      <td class="active">{{ beacon.description }}</td>
                      {% if beacon.properties %}
                          <td class="active">{{ beacon.properties.position}}</td>
                      {% else %}
                          <td class="active"></td>
                      {% endif %}
                      {% if beacon.indoorLevel %}
                          <td class="active">{{ beacon.indoorLevel.name }}</td>
                      {% else %}
                          <td class="active"></td>
                      {% endif %}

                      <form class="form-horizontal" action="{{ url_for('portal.list_beacons_attachment') }}" method="get">
                        <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <td class="active">
                                    <Button type="submit" data-toggle="tooltip" title="View attachment" class="btn btn-success">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </button>
                                </td>
                            </div>
                        </div>
                      </form>

                      <form class="form-horizontal" action="{{ url_for('portal.attachment_beacons') }}" method="get">
                        <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <td class="active">
                                    <button type="submit" data-toggle="tooltip" title="Edit beacon attachment" class="btn btn-success" >
                                        <span class="glyphicon glyphicon-paperclip"></span>
                                    </button>
                                </td>
                            </div>
                        </div>
                      </form>

                      <form class="form-horizontal" action="{{ url_for('portal.edit_beacon') }}" method="get">
                            <input type="hidden" class="form-control" name="name" value={{ beacon.beaconName }}>
                            <input type="hidden" class="form-control" name="advid" value={{ beacon.advertisedId.id }}>
                            <div class="form-group">
                                <div class="col-xs-offset-4 col-xs-8">
                                    <td class="active">
                                        <button type="submit" data-toggle="tooltip" title="Edit Beacon" class="btn btn-success" value="Edit">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </div>
                            </div>
                      </form>

                      <form class="form-horizontal" id="estimote" action="{{ url_for('portal.estimote_cloud_details') }}" method="get">
                          <input type="hidden" class="form-control" name="advid" value={{ beacon.advertisedId.id }}>
                          <div class="form-group">
                                <div class="col-xs-offset-4 col-xs-8">
                                    <td class="active">
                                        <button type="submit" data-toggle="tooltip" title="Beacon Health and etc" class="btn btn-success" value="Details">
                                            <span class="glyphicon glyphicon-file"></span>
                                        </button>
                                    </td>
                                </div>
                            </div>
                      </form>

                  </tr>
              {% endfor %}
              <br>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}