{% extends "base.jinja" %}

{% block title %} Exception Occured {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Oops..!! We are facing trouble. Try Again.</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}

