{% extends "base.jinja" %}

{% block title %}
    Estimote
{% endblock %}

{% block content %}
    <legend><h1>
        Beacon Details
    </h1></legend>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <form class="form-horizontal" action="" method="post">
                {% if not beacon %}
                    <h3> This beacon is not registered on Estimote Cloud.</h3>
                {% else %}
                    {{ beacon }}
                {% endif %}
            </form>
        </div>
        <div class="col-md-4"></div></div>
    </div>
{% endblock %}