{% extends "base.jinja" %}

{% block title %} Exception Occured {% endblock %}

{% block content %}
    <legend><h1>
        Exception Occured.
        <pre> {{ exception }} </pre>
    </h1></legend>
    <br>
{% endblock %}
