{% extends "base.jinja" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <legend>
                    <h1>
                        <strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Beacon Manager
                        </strong>
                    </h1>
                </legend>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
