{% extends "base.jinja" %}

{% block script %}
    <script type="text/javascript" src="../static/js/register.js"></script>
{% endblock %}

{% block title %}
    Register
{% endblock %}



{% block content %}
    <legend><h1>
        Register Beacon
    </h1></legend>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form class="form-horizontal" action="{{ url_for('portal.register_beacons_status') }}" method="post">
                <div class="form-group">
                    <label class="control-label col-xs-3">Type : </label>
                    <div class="col-xs-7">
                        <select class="form-control" name="type" id="type">
                            <option>EDDYSTONE</option>
                            <option>iBEACON</option>
                        </select>
                    </div>
                </div>

                <div id="iBeaconFormContainer" class="hidden">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="uuid">UUID : </label>
                        <div class="col-xs-7">
                            <input type="text" id="uuid" class="form-control" name="uuid" placeholder="Enter iBeacon Id of beacon">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="major">Major : </label>
                        <div class="col-xs-7">
                            <input type="text" id="major" class="form-control" name="major" placeholder="Major">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="minor">Minor :</label>
                        <div class="col-xs-7">
                            <input type="text" id="minor" class="form-control" name="minor" placeholder="minor">
                        </div>
                    </div>
                </div>

                <div id="eddystoneFormContainer">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="namespace">Namespace :</label>
                        <div class="col-xs-7">
                            <input type="text" id="namespace" class="form-control" name="namespace" placeholder="Enter Namespace of beacon">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3" for="instance">Instance :</label>
                        <div class="col-xs-7">
                            <input type="text" id="instanceId" class="form-control" name="instance" placeholder="Enter instance of beacon">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3">Status :</label>
                    <div class="col-xs-7">
                        <select class="form-control" name="status">
                            <option>ACTIVE</option>
                            <option>INACTIVE</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3" for="name">Description :</label>
                    <div class="col-xs-7">
                        <input type="text" id="description" class="form-control" name="description" placeholder="Security Check">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3" for="name">Expected Stability :</label>
                    <div class="col-xs-7">
                        <select class="form-control" name="expected_stability">
                            <option>STABLE</option>
                            <option>PORTABLE</option>
                            <option>MOBILE</option>
                            <option>ROVING</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-3" for="name">Place ID :</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" name="place_id" placeholder="ChIJTxax6NoSkFQRWPvFXI1LypQ">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        <input type="submit" class="btn btn-success" value="Submit">
                        <input type="reset" class="btn btn-danger" value="Reset">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}